/obj
/certs
/install
/config
/data
/report
/bin
/stockaudio
contrib/certs/server/ca-key.pem
contrib/certs/server/ca-root.pem
contrib/certs/server/ca-root.srl
contrib/certs/server/ca.der
contrib/certs/server/teddy-cert.pem
contrib/certs/server/teddy-key.csr
contrib/certs/server/teddy-key.pem
contrib/certs/client/teddy-cert.pem
contrib/certs/client/teddy-key.csr
contrib/certs/client/teddy-key.pem
.vs/
SSLKEYLOGFILE
data_stream.http.log
data_stream.rtnl.log
wasm/input.raw
wasm/output.taf
wasm/sample-15s.mp3
wasm/taf_encoder_test
test-client/
