version: '3'
services:
  teddycloud:
    container_name: teddycloud
    hostname: teddycloud
    image: ghcr.io/toniebox-reverse-engineering/teddycloud:latest
    # ports:
    #  - 80:80 #optional (for the webinterface)
    #  - 8443:8443 #optional (for the webinterface)
    #  - 443:443 #Port is needed for the connection for the box
    volumes:
      - certs:/teddycloud/certs
      - config:/teddycloud/config
      - content:/teddycloud/data/content
      - library:/teddycloud/data/library
      - firmware:/teddycloud/data/firmware
    restart: unless-stopped
volumes:
  certs:
  config:
  content:
  library:
  firmware:
