name: Build and zip

on:
  push:
    tags:
      - tc_nightly
      - tc_v*

jobs:
  build-amd64:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.set_data1.outputs.upload_url }}
      appendix: ${{ steps.set_data2.outputs.appendix }}
    steps:
    - name: Get current datetime
      id: get-datetime
      run: echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

    - name: Set templates for nightly
      id: set-templates-nightly
      if: startsWith(github.ref, 'refs/tags/tc_nightly')
      run: |
        echo "TAG_NAME=${GITHUB_REF#refs/tags/}_${{ env.CURRENT_DATE }}_${{ github.run_number }}" >> $GITHUB_ENV
        echo "RELEASE_NAME=Nightly ${{ env.CURRENT_DATE }} - Run ID ${{ github.run_number }}" >> $GITHUB_ENV
        echo "ASSET_APPENDIX=nightly_${{ env.CURRENT_DATE }}.${{ github.run_number }}" >> $GITHUB_ENV
        echo "IS_PRERELEASE=true" >> $GITHUB_ENV

    - name: Set templates for release and delete trigger tag
      id: set-templates-release
      if: startsWith(github.ref, 'refs/tags/tc_v')
      run: |
        echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
        echo "RELEASE_NAME=Release ${GITHUB_REF#refs/tags/hbng_bl_}" >> $GITHUB_ENV
        echo "ASSET_APPENDIX=release_${GITHUB_REF#refs/tags/hbng_bl_}" >> $GITHUB_ENV
        echo "IS_PRERELEASE=false" >> $GITHUB_ENV
    
    - uses: actions/checkout@v2

    - name: Build and zip amd64
      id:  build-zip
      run: make zip
    - name: Check amd64 release zip existence
      id: check_release
      uses: andstor/file-existence-action@v1
      with:
        files: "./install/zip/release.zip"  
        allow_failure: true 
    - name: File exist
      if: steps.check_files.outputs.files_exists == 'true'
      run: echo amd64 release zip exists!
      
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.TAG_NAME }}
        release_name: Teddy Cloud ${{ env.RELEASE_NAME }}
        draft: true
        prerelease: ${{ env.IS_PRERELEASE }}
        
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
        asset_path: ./install/zip/release.zip
        asset_name: teddy_cloud.amd64.${{ env.ASSET_APPENDIX }}.zip
        asset_content_type: application/zip
    - id: set_data1
      run: echo "upload_url=${{ steps.create_release.outputs.upload_url }}" >> "$GITHUB_OUTPUT"
    - id: set_data2
      run: echo "appendix=${{ env.ASSET_APPENDIX }}" >> "$GITHUB_OUTPUT"

  build-arm64:
    runs-on: ubuntu-latest
    needs: build-amd64
    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        platforms: arm64
    - name: Build and zip arm64
      id:  build-zip
      run: make zip
    - name: Check arm64 release zip existence
      id: check_release
      uses: andstor/file-existence-action@v1
      with:
        files: "./install/zip/release.zip"  
        allow_failure: true 
    - name: File exist
      if: steps.check_files.outputs.files_exists == 'true'
      run: echo amd64 release zip exists!
      
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.build-amd64.outputs.upload_url }}
        asset_path: ./install/zip/release.zip
        asset_name: teddy_cloud.arm64.${{ needs.build-amd64.outputs.appendix }}.zip
        asset_content_type: application/zip

  build-arm:
    runs-on: ubuntu-latest
    needs: build-amd64
    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        platforms: arm
    - name: Build and zip arm
      id:  build-zip
      run: make zip
    - name: Check arm release zip existence
      id: check_release
      uses: andstor/file-existence-action@v1
      with:
        files: "./install/zip/release.zip"  
        allow_failure: true 
    - name: File exist
      if: steps.check_files.outputs.files_exists == 'true'
      run: echo amd64 release zip exists!
      
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.build-amd64.outputs.upload_url }}
        asset_path: ./install/zip/release.zip
        asset_name: teddy_cloud.arm.${{ needs.build-amd64.outputs.appendix }}.zip
        asset_content_type: application/zip

  build-s390x:
    runs-on: ubuntu-latest
    needs: build-amd64
    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
      with:
        platforms: s390x
    - name: Build and zip s390x
      id:  build-zip
      run: make zip
    - name: Check s390x release zip existence
      id: check_release
      uses: andstor/file-existence-action@v1
      with:
        files: "./install/zip/release.zip"  
        allow_failure: true 
    - name: File exist
      if: steps.check_files.outputs.files_exists == 'true'
      run: echo amd64 release zip exists!
      
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.build-amd64.outputs.upload_url }}
        asset_path: ./install/zip/release.zip
        asset_name: teddy_cloud.s390x.${{ needs.build-amd64.outputs.appendix }}.zip
        asset_content_type: application/zip
  